@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body{
    position: relative;
    overflow-x:hidden;
    width: 100%;
    height:auto;
}
h4{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
p{
    position: relative;
    text-align: justify;
}
.icon{
    position: relative;
    color: #fff;
    padding-top: 4px;
    text-shadow: 1px 1px 1px #ccc;
}
section{
    position: relative;
    width: 100% !important;
    margin-bottom: 6%;
}
.navbar-toggler{
    position: absolute;
    right:5%;
}
.nav-link{
    color: white;
}
.navbar-brand{
    position: relative;
    left: 6px;
    color: white;
}
nav{
    position: relative;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

header{
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    z-index: 2;
}

#typestuff{
    position: absolute;
    margin: auto;
    color: white;
    display: block;
    left: 25%;
    top: 45%;
}

.intro-pc{
    position: relative;
    width: 100%;
    height:70vh;
    margin-bottom:6% !important;
    box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.2);
    background: url("../assets/dotted.png"), url("../assets/bg.jpg");
    background-size: cover;
    background-position-y: -100px;
    background-attachment: fixed;
}

.services-cardbox{
    position: relative;
    width: 100%;
    height:auto;
    padding-top:3%;
    padding-bottom:3%;
    border-radius: 8px;
}

.services-row{
    position: relative;
    margin-left: 4%;
    margin-right: 4%;
}

.services-col{
    position: relative;
    width: 80%;
    margin-top:10%;
}

.card-thumb{
    position: relative;
    padding-top: 25%;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 0px !important;
    border-bottom: 2px solid #be2edd;
}

.card-text{
    position: relative;
    text-align: center;
}


.services .icon {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    z-index:2 !important;
    display: table;
    margin: 0 auto;
    background: #be2edd; }
    .services .icon:before, .services .icon:after {
      position: absolute;
      left: 0;
      right: 0;
      content: ''; }
    .services .icon:before {
      top: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 30px 50px;
      border-color: transparent transparent #be2edd transparent; }
    .services .icon:after {
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 50px 0 50px;
      border-color: #be2edd transparent transparent transparent; }
    .services .icon i {
      font-size: 30px;
      color: #fff;
      z-index: 1;
      display: table-cell;
      vertical-align: middle; }

.card-collection{
    position: relative;
    margin-bottom: 4%;
}

.product-chips{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white !important;
}

.card-img-top{
    position: relative;
    padding: 5%;
    border-radius: 4px !important;
}

.pro-col{
    position: relative;
    text-align: center;
    margin-top: 4%;
}

.card{
    border: none !important;
}

.product-chip{
    position: relative;
    box-shadow: 0 0 3px 3px rgba(0,0,0, 0.1);
    margin-top: 3%;
    margin-bottom: 3%;
    transition: all 0.5s;
}

/* Carousel */


/* Footer CSS */

.red {
    color: red !important;
}
.footer {
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.2);
    background-color: #242323;
    padding: 80px 0;
}
.footer-widget-content{
    color: white;
}
footer .footer-widget h3 {
    margin-bottom: 30px;
    color: white;
}
footer .contact-link {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
}
footer .footer-social ul {
    padding-left: 0;
}
footer .footer-social ul li {
    list-style: none;
    float: left;
    padding: 0 10px;
}
footer .footer-social ul li:first-child {
    padding-left: 0;
}
footer .footer-social ul li a {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
footer .footer-social ul li a:hover {
    color: red;
}
footer .opening-time {
    padding-left: 0;
}
footer .opening-time li {
    list-style: none;
}
footer .opening-time li span {
    float: left;
    padding-right: 10px;
}
footer .opening-time li span .fa-times {
    color: red;
}
footer .opening-time li strong {
    color: red;
}
footer .media-body a {
    color: rgb(253, 253, 253);
}
footer .media-body a:hover {
    color: red;
}
footer .media-body span {
    color: #f8f7f7;
}
footer .images-gellary ul {
    padding-left: 0;
}
footer .images-gellary ul li {
    list-style: none;
    float: left;
    margin: 0 3% 2% 0;
    width: 31%;
    position: relative;
}
footer .images-gellary ul li:nth-child(3n) {
    margin: 0 0 1%;
}

.product-title{
    position: relative;
    padding-bottom: 6px;
    border-bottom: 2px solid #be2edd; 
}

.copyright {
    position: relative;
    padding: 15px 0;
    background: #333;
    margin-bottom: 0px;
    font-size: 15px;
    color: white;
  }
  
  footer .copyright span {
    color: #0894d1;
  }

/* Stars */

/*Written by Mohit Bhasi

Twinkling star webpage background.
 
Twinkle , twinkle little star.
*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Firefox */
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url("../assets/stars.jpg") repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("../assets/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite; /* Firefox */
  -webkit-animation:move-twink-back 200s linear infinite; /* Chrome, Safari, Opera */ 
  animation:move-twink-back 200s linear infinite;
}

